/* NAVBAR */

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;

    /* Nav Links List */
    .nav-links {
        display: flex;
        align-items: center;
        gap: 2px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* Base Nav Items & Links */
    .nav-item-container {
        position: relative;
        list-style: none;

    }

    .nav-item {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 2px;
        transition: opacity 0.2s ease;
        position: relative;
        text-transform: capitalize;
        padding: 4px;

        /* Create line bottom by pseudo-element */
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #FFE862;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;

        }

        &:hover {
            color: #ffffff;

            &::after {
                transform: scaleX(1);
            }
        }
    }


    /* Vertical Divider Lines */
    .divider {
        width: 1px;
        height: 16px;
        background-color: rgba(255, 255, 255, 0.4);
        margin: 4px;
    }

    /* Icons Styling */
    .icon-chevron {
        width: 16px;
        height: 16px;
        stroke-width: 2.5;

        &.open {
            transform: rotate(180deg);
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 125%;
        left: 0;
        margin-top: 8px;
        background-color: #6a3418;
        border-radius: 8px;
        padding: 8px 0;
        min-width: 160px;
        box-shadow: 0 4px 20px rgba(174, 186, 9, 0.15);
        list-style: none;
        z-index: 100;
        border: 1px #ffb326 solid;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;

        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .dropdown-item {
            a {
                display: block;
                padding: 8px 16px;
                color: #ffffff;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                transition: background-color 0.2s ease;
                white-space: nowrap;
                position: relative;
                font-weight: bold;


                /* Create line bottom by pseudo-element */
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 80%;
                    height: 1px;
                    background-color: #FFE862;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;

                }

                &:hover {
                    color: #ffffff;

                    &::after {
                        transform: scaleX(1);
                    }
                }


            }
        }
    }
}